.page-template-page-moh-home-php .entry-content h2,
.page-template-page-moh-search-php .entry-content h2 { 
	line-height: 1.5; 
}

.page-template-page-moh-home-php .entry-content h3 { 
	line-height: 1.4; 
}

.page-template-page-moh-home-php .entry-content h3.heading { 
	margin: 8px 0 0; 
}

.page-template-page-moh-home-php .entry-content h3.heading i { 
	position: relative; top: 1px; 
}

.page-template-page-moh-home-php .entry-content h3.heading,
.page-template-page-moh-home-php .entry-content h3.heading a {
	color: #424286;
}

.page-template-page-moh-home-php .entry-content p:last-child { margin: 0; }

.page-template-page-moh-home-php .caption { text-align: center; }