.p3-playlist-container.mitlib {
  border-right: none;
  margin-left: 10px;
  background: #fff;
}
.p3-playlist-container.mitlib .p3-playlist-topbar {
  background: none;
  border: none;
  margin-bottom: 5px;
}
.p3-playlist-container.mitlib .p3-playlist-search-form {
  background: #fff;
  border: 1px solid #ccc;
}
.p3-playlist-container.mitlib .p3-playlist-suggested-results {
  background-color: #fff;
  border-right: none;
  background-image: url("//p3.3playmedia.com/images/playlist/drop_up_444.png");
}
.p3-playlist-container.mitlib .p3-playlist-suggested-results.drop_up {
  background-image: url("//p3.3playmedia.com/images/playlist/drop_down_444.png");
}
.p3-playlist-container.mitlib .p3-playlist-searchterm {
  background: #fff;
  color: #333;
}
.p3-playlist-container.mitlib .p3-playlist-search-reset {
  background: url("//p3.3playmedia.com/images/playlist/close_444.png") center center no-repeat;
}
.p3-playlist-container.mitlib .p3-playlist-submit-search {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  color: #333;
  background: url("//p3.3playmedia.com/images/playlist/search_444.png") center center no-repeat;
}
.p3-playlist-container.mitlib .p3-playlist-submit-search:hover {
  background-color: #f8f8f8;
}
.p3-playlist-container.mitlib .p3-playlist-suggested-search-terms {
  color: #333;
  background: none;
  border-bottom: none;
  border-right: none;
}
.p3-playlist-container.mitlib .p3-playlist-suggested-search-terms a {
  color: #888;
}
.p3-playlist-container.mitlib .p3-playlist-suggested-search-terms a:hover {
  color: #aaa;
}
.p3-playlist-container.mitlib .p3-playlist-bottombar {
  background: none;
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 5px;
}
.p3-playlist-container.mitlib .p3-playlist-bottombar .video-control {
}
.p3-playlist-container.mitlib .p3-playlist-bottombar .p3-playlist-progress-summary {
  color: #666;
}
.p3-playlist-container.mitlib .p3-playlist-bottombar .p3-playlist-next-video {
  background: url("//p3.3playmedia.com/images/playlist/next_444.png") center center no-repeat;
}
.p3-playlist-container.mitlib .p3-playlist-bottombar .p3-playlist-prev-video {
  background: url("//p3.3playmedia.com/images/playlist/prev_444.png") center center no-repeat;
}
.p3-playlist-container.mitlib .p3-playlist-results {
  background: none;
  border-right: none;
  border-left: none;
}
.p3-playlist-container.mitlib p.no-results {
  color: #333;
}
.p3-playlist-container.mitlib ul.p3-playlist-ul {
  border-top: 1px solid #ccc;
}
.p3-playlist-container.mitlib ul.p3-playlist-ul li {
  background: none;
  border-top: none;
  border-bottom: 1px solid #ccc;
}
.p3-playlist-container.mitlib ul.p3-playlist-ul li:hover {
  background: none;
}
.p3-playlist-container.mitlib ul.p3-playlist-ul li span.p3-playlist-video-info p.p3-playlist-video-title {
  color: #333;
  text-shadow: 0 0 0 #fff;
}
.p3-playlist-container.mitlib ul.p3-playlist-ul li span.p3-playlist-video-info p.p3-playlist-meta-field-one {
  color: #999;
  text-shadow: 0 0 0 #fff;
}
.p3-playlist-container.mitlib ul.p3-playlist-ul li.p3-playlist-currently-loading {
  border-bottom: 1px solid #ccc;
  background: #fff;
}
.p3-playlist-container.mitlib ul.p3-playlist-ul li.p3-playlist-currently-loading span.p3-playlist-play-button {
  background-image: url("//p3.3playmedia.com/images/playlist/loading_white.gif");
}
.p3-playlist-container.mitlib ul.p3-playlist-ul li.p3-playlist-currently-loading:hover span.p3-playlist-play-button {
  background-image: url("//p3.3playmedia.com/images/playlist/loading_white.gif");
}
.p3-playlist-container.mitlib ul.p3-playlist-ul li.p3-playlist-currently-playing {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  background: #fff;
}
.p3-playlist-container.mitlib ul.p3-playlist-ul li.p3-playlist-currently-playing:hover {
}
.p3-playlist-container.mitlib ul.p3-playlist-ul li.p3-playlist-currently-playing span.p3-playlist-play-button {
  background-image: url("//p3.3playmedia.com/images/playlist/play_444.png");
}
.p3-playlist-container.mitlib ul.p3-playlist-ul li:hover span.p3-playlist-play-button {
  background-image: url("//p3.3playmedia.com/images/playlist/play_444.png");
}
.p3-playlist-container.mitlib ul.p3-playlist-ul li.p3-playlist-currently-playing span.p3-playlist-video-info p.p3-playlist-video-title {
  color: #52B5E3;
}
.p3-playlist-container.mitlib ul.p3-playlist-ul li.p3-playlist-currently-playing span.p3-playlist-video-info p.p3-playlist-meta-field-one {
  color: #999;
}
.p3-playlist-container.mitlib .p3-playlist-segmentmap tbody tr td {
  background: #333;
  border-right: 1px solid #f1f1f1;
}
.p3-playlist-container.mitlib .p3-playlist-segmentmap tbody tr td.hit {
  background: #52b5e3;
}
.p3-playlist-container.mitlib .p3-playlist-segmentmap tbody tr td.hit:hover {
  opacity: .7;
}
.p3_floating_segment.mitlib {
  background: #fff;
  border: 1px solid #fff;
  box-shadow: #ccc 0 0 1px 1px;
  color: #333;
}
.p3_floating_segment.mitlib .p3-floating-segment-point {
  background: url("//p3.3playmedia.com/images/playlist/pointer_bbb.png") center center no-repeat;
  top: -11px;
}