table.tablepress {
    border-top: 1px solid #ededed;
    color: #666;
    width: 100%;
}

table.tablepress tr.even td,
table.tablepress tr.odd td {
    background: none;
}

table.tablepress tr:nth-child(odd),
tablepress {
    background: #f5f5f5;
}

table.tablepress tr:first-child {
    border-top: 1px solid #ededed;	
}

table.tablepress tfoot th,
table.tablepress thead th {
    background: #fff;
    border: 0;
    color: #333;
    font-size: 12px;
    font-weight: 700;
    padding: 13px 20px;
    text-transform: uppercase;
    vertical-align: middle;
}

table.tablepress tfoot th:first-child {
    padding-left: 0;
}

table.tablepress tbody td {
    background: url(images/divider.gif) center right no-repeat;
    line-height: 1.5;
    min-height: 60px;
    padding: 2%;
    vertical-align: middle;
}

table.tablepress .row-hover tr:hover td:last-child,
table.tablepress tbody td:last-child {
    background-image: none;
}

table.tablepress tbody td.nothing {
    padding: 20px;
}

table.tablepress tbody td.post-thumbnail {
    background: 0 0;
    line-height: 0;
    padding: 0;
}

table.tablepress tbody td.post-thumbnail img {
    border-radius: 0;
    box-shadow: none;
    height: 97px;
    width: 97px;
}

table.tablepress tbody td h3 {
    color: #444;
    font-size: 18px;
    line-height: 1.3;
}

table.tablepress .row-hover tr:hover td {
    background: #ddd url(images/divider.gif) center right no-repeat;
   transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}

.dataTables_wrapper .sorting:hover, 
.dataTables_wrapper .sorting_asc, 
.dataTables_wrapper .sorting_desc {
	background: #fff !important;
	color: #999;
}

.dataTables_length, 
.dataTables_filter {
	color: #999;
	position: relative;
	top: -7px;
}

.dataTables_filter { 
	top: -12px; 
}

.dataTables_wrapper label input {
	margin-top: -3px !important;
	width: 200px !important;
}

.dataTables_wrapper label select { 
	margin-top: -2px !important;
}

.dataTables_info, .dataTables_paginate { 
	margin-top: 10px !important; 
}

.dataTables_info { 
	color: #999; 
}

.dataTables_paginate { 
	padding: 0;
}

.dataTables_paginate .paginate_disabled_previous:before,
.dataTables_paginate .paginate_enabled_previous:before,
.dataTables_paginate .paginate_disabled_next:after,
.dataTables_paginate .paginate_enabled_next:after {
	font-size: 22px;
	text-shadow: none;
	top: -10px;
}

.dataTables_paginate .paginate_disabled_previous:before,
.dataTables_paginate .paginate_enabled_previous:before {
	content: "‹" !important;
}

.dataTables_paginate .paginate_disabled_next:after,
.dataTables_paginate .paginate_enabled_next:after {
	content: "›" !important;
}

.dataTables_paginate a.paginate_enabled_previous,
.dataTables_paginate a.paginate_enabled_next {
	text-decoration: underline;
}

.dataTables_paginate a.paginate_enabled_previous,
.dataTables_paginate a.paginate_enabled_previous:before,
.dataTables_paginate a.paginate_enabled_next,
.dataTables_paginate a.paginate_enabled_next:after {
	color: #3c3a79 !important;
	text-decoration: none;
}

.dataTables_paginate a.paginate_disabled_previous,
.dataTables_paginate a.paginate_disabled_previous:before,
.dataTables_paginate a.paginate_disabled_next,
.dataTables_paginate a.paginate_disabled_next:after {
	color: #ccc !important;
	text-decoration: none !important;
}